* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Open Sans, Verdana, Geneva, Tahoma, sans-serif;
}

/* utilities */

.floatL {
    float: left;
}

.floatR {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.absolute {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* /utilities */

/* navigatore */

header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 3;
}

nav {
    height: 100%;
    line-height: 60px;
    background-color: white;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: black;
}

.logo, .start {
    width: 10%;
    text-align: center;
}

.leftLi, .rightLi {
    width: 25%;
    text-align: center;
}

.btn {
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
}

/* /navigatore */


/* jumbo */


.jumbo {
    width: 100%;
    height: 900px;
    background-color: #b4d0e7;
    position: relative;
    margin-bottom: 200px;
}

.container-large {
    margin: auto;
    width: 90%;
    padding: 20px;
}

.container {
    margin: auto;
    width: 75%;
    height: 1000px;
}

.jumbo h1 {
    font-size: 95px;
}

.jumbo a {
    text-decoration: none;
}

.cont-div {
    width: 100%;
    height: auto;
}

.jumboL {
    width: 30%;
    font-size: 20px;
    margin-right: 100px;
}

.jumboL p {
    margin: 30px 0;
}

.jumboL img {
    height: 50px;
}

.jumboR img {
    width: 900px;
    margin-top: 10px;
}

/* /jumbo */

.abbonamentiTitle {
    font-size: 35px;
    margin-top: 20px;
}

.radio-btn {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}

.radio-btn label {
    margin-right: 20px;
}

.col-abb {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.col-prof {
    width: 30%;
    
    border: 1px solid grey;
}

.top-col {
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid grey;
}

.top-col img {
    width: 15px;
    vertical-align: middle;
}

.container-small {
    width: 90%;
    margin: 40px auto;

}

.container-small h3 {
    margin: 10px 0px;
}

.container-small p {
    margin-bottom: 50px;
}

.container-small img {
    width: 12px;
    vertical-align: middle;
}

.dettagli {
    margin-bottom: 30px;
}

.icon {
    width: 5%;
    display: inline-block;
}

.icon-det {
    width: 95%;
    display: inline-block;
    text-align: left;
    margin-bottom: 30px;
}

.col-btn {
    text-align: center;
}

.btn-colonne {
    width: 100%;
    padding: 10px 90px;
    margin-bottom: 30px;
}

.col-btn a {
    text-decoration: none;
}

.buy {
    margin: 40px 0px;
}

.container-small hr {
    width: 60px;
    color: grey;
    margin-bottom: 40px;
}


.container-small li {
    list-style: none;
    margin: 20px 0px;
}

.container-small li::before {
    content: "\2714";
    color: blue;
}

.container-small ul {
    margin-bottom: 200px;
}